body {
  background-color: black;
}

#game-container {
  border: 2px solid white;
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 600px;
}
#start-button{
    background-color: white;
}
#pause-button{
    background-color: white;
}
h1 {
  color: white;
  text-align: center;
}
canvas {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 600px;
}
